<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @clientes1.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @clientes1.email %>
</p>

<%= link_to 'Edit', edit_clientes1_path(@clientes1) %> |
<%= link_to 'Back', clientes1s_path %>
